In [9]:
import math
import numpy as np
import pandas as pd

In [10]:
groups = ['Depots', 'DriverLog', 'Rovers', 'ZenoTravel', 'Satellite']
planners_analysed = ['lpg', 'sgplan']
timeout = 30

# OPTIMAL TRACK

In [18]:
data = {'': planners_analysed}
total = 0 
for gr in groups:
    name = 'results_'+gr+'.csv'
    df = pd.read_csv(name)
    if gr=='Depots':
        n_max_tasks = 22
    else: 
        n_max_tasks = 20
    aux = []
    total = total + n_max_tasks
    for pl in planners_analysed:
        locals()['n_'+pl] = int((df['Planner'].str.count(pl).sum()/n_max_tasks)*n_max_tasks)
        aux.append(locals()['n_'+pl])
    data.update({gr+' ('+str(n_max_tasks)+')':aux})

df_def = pd.DataFrame(data)
tot_count = []
for i in range(0,len(df_def)):
    tot_count.append(df_def.iloc[i][1:].sum())
df_def["Total ("+str(total)+")"]= tot_count

print(f"       OPTIMAL TRACK   -  total maximum over {total} ")
df_def

       OPTIMAL TRACK   -  total maximum over 102

,,Depots (22),DriverLog (20),Rovers (20),ZenoTravel (20),Satellite (20),Total (102)
0,lpg,22,20,20,20,20,102
1,sgplan,20,17,20,20,20,97

# AGILE TRACK

In [17]:
data = {'': planners_analysed}
for gr in groups:
    name = 'results_'+gr+'.csv'
    df = pd.read_csv(name)
    aux = []
    if gr=='Depots':
        n_max_tasks = 22
    else: 
        n_max_tasks = 20
    for pl in planners_analysed:
        st = np.array(df.loc[df['Planner'] == pl, 'Search_Time'])
        nl = sum([1 if x < 1 else (1-math.log10(x)/math.log10(timeout)) for x in st])
        aux.append(nl)
    data.update({gr+' ('+str(n_max_tasks)+')':aux})

df_def = pd.DataFrame(data)
tot_count = []
for i in range(0,len(df_def)):
    tot_count.append(df_def.iloc[i][1:].sum())
df_def["Total ("+str(total)+")"]= tot_count

print(f"       AGILE TRACK   -  total maximum over {total} ")
df_def

       AGILE TRACK   -  total maximum over 102

,,Depots (22),DriverLog (20),Rovers (20),ZenoTravel (20),Satellite (20),Total (102)
0,lpg,21.821360,18.644072,19.922861,18.5661,20,98.954393
1,sgplan,19.233235,16.134656,20.000000,20.0000,20,95.367890